footer{
  display: flex;
  align-items: center;
  height: 100px;
  padding: 0 10%;
  background-color: #000;
}


.logo-foot{
  width: 50px;
}

.nama-foot{
  width: 200px;
  padding:  0 5px 0 25px;
  border-style: solid;
  border-width: 0 1px 0 0;
  border-color: #ffd447;
  color: #fff;
}

.nama-foot h4{
  font-weight: lighter;
}