.box-2{
  position: relative;
  flex: 2;
  width: 50%;
  padding: 10px;
}

.box-2 img{
  width: 97%;
  transition: 0.5s all;
  border-radius: 5px;
}

.box-2 img:hover{
  width: 100%;
  border-radius: 0px;
  border-width: 1px;

}


@media screen and (max-width: 850px){
.box-2{
  position: relative;
  flex: 2;
  width: 100%;
}

.box-2 img{
  width: 90%;
  transition: 0.5s all;
  border-radius: 5px;
}

.box-2 img:hover{
  width: 100%;
  border-radius: 0px;
  border-width: 1px;

}

}