*{
  margin: 0;
  padding: 0;
  font-family: calibri;
}

body{
  overflow-x: hidden;
}

h3{
  color: #ffd447;
  font-weight: lighter;
  letter-spacing: 3px;
  font-size: 27px;
}

p{
  font-size: 18px;
}
/*Navbar*/
nav{
  display: flex;
  background-color: #262626;
  color: #fff;
  justify-content: space-between;
  padding: 0 10%;
  height: 100px;
  align-items: center;
  z-index: 1;

}

.ganjelan{
  height: 100px;
  position: relative;
}
.fixing{
  position: fixed;
  width: 100%;
  z-index: 2;
}
.logo-img{
  display: flex;
  align-items: center;
}


nav ul{
  display: flex; 
  list-style: none;
  width: 30%;
  justify-content: space-between;
  

}

nav ul a{
  color: #fff;
  text-decoration: none;
  transition: 1s;
}

nav ul a:hover{
  color: #ffd447;
  letter-spacing: 5px;
  transition: 0.3s;
  border-width: 0 1px;
  padding: 0 0 5px 7px;
  border-color: #fff;
  border-style: solid;

}

/*Buger nih voss*/
.toggle{
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

.toggle input{
  position: absolute;
  width: 30px;
  height: 30px;
  opacity: 0;
  top: -5px;
  z-index: 2;
}

.toggle span{
  display: block;
  width: 30px;
  height: 3px;
  background-color: #fff;
  border-radius: 50px;
}

/*Burger animasi*/
.toggle span:nth-child(2){
  transform: rotate(0deg);
  transition: all 0.3s;
  transform-origin: 0 0;
}

.toggle span:nth-child(4){
  transform: rotate(0deg);
  transition: all 0.3s;
  transform-origin: 0 100%;
}

.toggle span:nth-child(3){
  transform: rotate(0deg);
  transition: all 0.3s;
}

.toggle input:checked ~ span:nth-child(2){
  transform: rotate(45deg) translate(1px, 1px);
}

.toggle input:checked ~ span:nth-child(3){
  transform: translate(-50px, 0px);
  opacity: 0;
}

.toggle input:checked ~ span:nth-child(4){
  transform: rotate(-45deg) translate(-2px, 3px);
}


/*end of navbar*/

/*dalam body*/
.quote{
  display: inline-block;
  padding: 10px ;
  font-style: italic;
  border-width: 0 1px;
  border-color: #ffd447;
  border-style: solid;
}

.container{
  margin: 0px;
}


.row-1{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: #171717;
  flex-direction: row;
}

.box-1{
  position: relative;
  flex: 1;
  max-width: 50%;
  padding:25px;
  color: #fff;
}


.row:nth-child(6){
  background-color: #ffd447;
}


@media screen and (max-width: 850px){
/*Navbar*/
nav ul{
  width: 50%;
}

.box-1{
  width: 100%;
  background-color: #Fff;
  padding: 10px;
}
.row-1{
  flex-direction: column-reverse;

}

@media screen and (max-width: 550px){
/*Navbar*/
nav ul{
  position: absolute;
  right: 0;
  top: 0;
  flex-direction: column;
  background-color: #000;
  height: 100vh;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  transform: translateX(100%);
  transition: all 0.3s;
}
.toggle{
  display: flex;
}

nav ul.slide{
  transform: translateX(0);
}