*{
  font-family: calibri;
}

.container{
  background-image: url('https://w0.peakpx.com/wallpaper/104/948/HD-wallpaper-anime-girls-majo-no-tabitabi-elaina-majo-no-tabitabi-azuuru-witch-witch-hat-silver-hair-blue-eyes-cityscape.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 200vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container form{
  padding: 10px;

}

.isiform{
  display: inline-block;
  position: relative;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  border-radius: 10px;
  color: #262626;


}

.row-25{
  padding: 5px 0;

}

input[type=submit]{
  width: 100%;
  color: #fff;
  background-color: #1c81d6;
  border-radius: 5px;
  padding: 10px 0;
  font-size: 15px;
  transition: 0.5s all;
  border-width: 0;
}

input[type=submit]:hover{
  width: 100%;
  color: #fff;
  background-color: #4ba6f2;
  border-radius: 5px;
  padding: 10px 0;
  font-size: 15px;
  cursor: pointer;
}


input[type=text], input[type=email], textarea, select{
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  border-width: 1px;;
  border-color: #ffc259;
  transition: 0.5s all;
  box-sizing: border-box;
  border-style: solid;
  border-width: 2px;
}


body{
  margin: 0;
  padding: 0;
}

h3{
  text-align: center;
  font-size: 26px;
  color: #00203b;
}